# Noble Atlas Sync Authentication
# Get this from your external provide
NOBLE_SYNC_TOKEN=sync-relax-xxxxxx

# Noble Atlas Data
NOBLE_SYNC_BASE_URL=https://noble-atlas.de/wp-json/noble-bordell-sync/v1
NOBLE_SYNC_BORDELL_ID=5607

# Local Server Configuration
PORT=3001
